// Specific CSS for your home-page

a {
  color: black;
}

.header{
  // h1{
  //   font-size: 70px;
  // }
  // h2{
  //   font-size: 30px;
  // }
}

.xp-display{
  display: flex;
  justify-content: center;
  // flex-direction: column;

}

.skills{
  display: flex;
  justify-content: center;
}

.logo{
  height: 60px;
  margin: 10px;
}

.links{
  a {
    color: black;
    font-size: 50px;
    text-decoration: none;
  }
  li{
    display: inline;
    padding: 10px;
  }
}


